@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<OnlineShop.Models.User>
@{
    ViewBag.Title = "Danh Sách Khách Hàng";
}
<style>
    .btn-Lock,
    .btn-Unlock {
        border: none;
        background-color: transparent;
    }

    .btn-Unlock {
        color: var(--success);
    }

    .btn-Lock {
        color: var(--danger);
    }
</style>
<!-- Page Heading -->
@*<h1 class="h3 mb-2 text-gray-800">Danh Sách Loại</h1>*@

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        @*<h6 class="m-0 font-weight-bold text-primary">@Html.ActionLink("Thêm mới", "Create", "Category")</h6>*@
    </div>
    <div class="card-body">
        <!-- Search -->
        <div class="row">
            <div class="col-sm-12" style="display:flex; justify-content:center; margin-bottom: 20px">
                <input type="text" id="Search" class="form-control form-control-sm" placeholder="Nhập từ khóa cần tìm kiếm" style="width: 250px; text-align:center">
            </div>
        </div>
        <!-- /Search -->
        <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th>Username</th>
                        <th>Họ Tên</th>
                        <th>Gmail</th>
                        @*<th>Chức Vụ</th>*@
                        <th>Trạng Thái</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd Search" data-id="@item.ID">
                            <td id="name">@item.Username</td>
                            <td>@item.FullName</td>
                            <td>@item.Gmail</td>
                            @*@if (item.Role == true)
                            {
                                <td>Quản Lý</td>
                            }
                            else
                            {
                                <td>Khách Hàng</td>
                            }*@
                            @if (item.Active == true)
                            {
                                <td><button class="btn-Unlock"><i class="fas fa-check"></i></button></td>
                            }
                            else
                            {
                                <td><button class="btn-Lock"><i class="fas fa-times"></i></button></td>
                            }
                            <td>
                                @*<a href="~/Admin/Customer/Edit/@item.ID" class="btn btn-info"><i class="fas fa-pen"></i></a>*@
                                <button class="btn btn-danger" id="btnDelete" data-toggle="modal" data-target="#my-modal"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form_page" style="display:flex; justify-content:center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @class = "page_item" }))
            </div>
        </div>
    </div>
</div>

<!-- Alter Delete -->
<div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="modal-body p-0">
                <div class="card border-0 p-sm-3 p-2 justify-content-center">
                    <div class="card-header pb-0 bg-white border-0 ">
                        <div class="row"><div class="col ml-auto"><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div> </div>
                        <p class="font-weight-bold mb-2"> Thông Báo !</p><p class="text-muted"></p>
                    </div>
                    <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                        <div class="row justify-content-end no-gutters">
                            <div class="col-auto">
                                <button type="button" class="btn btn-light text-muted" data-dismiss="modal">Hủy</button>
                            </div>
                            <div class="col-auto">
                                <button type="button" id="btnSubmit" class="btn btn-danger px-4" data-dismiss="modal" style="margin-left:5px">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Alter Delete -->
<link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/toasty.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/toasty.js"></script>

@section Scripts{
    <script type="text/javascript">
        var options = {
            autoClose: true,
            progressBar: true,
            enableSounds: true,
        };
        var toast = new Toasty(options);
        toast.configure(options);
        $(document).ready(function () {
            DeleteUser();
        });
        function DeleteUser() {
            var parent, ID, name;
            $(document).on("click", "#btnDelete", function () {
                parent = $(this).closest('tr');
                ID = parent.data("id");
                name = parent.find('#name').text();
                document.querySelector('.text-muted').innerHTML = "Bạn có chắc chắn muốn xóa người dùng " + name + " ?";
            })
            $(document).on("click", "#btnSubmit", function () {
                $.ajax({
                    url: '/Admin/Customer/Delete',
                    type: 'POST',
                    data: { ID: ID },
                    success: function (result) {
                        if (result.success) {
                            parent.remove();
                            console.log('success');
                            toast.success("đã xóa người dùng " + name);
                        } else {
                            toast.error("Xóa người dùng thất bại!");
                        }
                    }
                });
            })
        }

        function activeAccount(ID) {
            $.ajax({
                url: '/Admin/Customer/Active',
                type: 'POST',
                data: { ID: ID },
                success: function (result) {
                    if (result.success) { console.log('success') }
                },
                error: function () { console.log('error') }
            })
        }
        $(document).on('click', '.btn-Unlock', function () {
            var ID = $(this).closest('tr').data('id');
            $(this).removeClass('btn-Unlock').addClass('btn-Lock');
            $(this).find('i').removeClass('fa-check').addClass('fa-times');
            activeAccount(ID);
        })

        $(document).on('click', '.btn-Lock', function () {
            var ID = $(this).closest('tr').data('id');
            $(this).removeClass('btn-Lock').addClass('btn-Unlock');
            $(this).find('i').removeClass('fa-times').addClass('fa-check');
            activeAccount(ID);
        })

    </script>
}