<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LOR Store</title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Asset/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Asset/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Asset/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Asset/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Asset/fonts/fontawesome-free-6.3.0/css/all.min.css">
    <!-- Page List -->
    <link href="~/Asset/css/PageList.css" rel="stylesheet" />
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Asset/css/style.css" />
    @*@Styles.Render("~/Content/css")*@
</head>
<body>
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                    <li><a href="#"><i class="fa-solid fa-envelope"></i> email@email.com</a></li>
                    <li><a href="#"><i class="fa-solid fa-location-dot"></i> 1734 Stonecoal Road</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> 0 VNĐ</a></li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        @*<div class="header-logo"></div>*@
                        <a href="~/Home/Index" class="logo logo-store" style="--stacks: 2;">
                            <span style="--index: 0;">LOR Store</span>
                            <span style="--index: 1;">LOR Store</span>
                            <span style="--index: 2;">LOR Store</span>
                        </a>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        @Html.Action("Search", "Home")
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Search -->
                            <!--<div>
                                <a href="#">-->
                                    @*<i class="fa fa-shopping-cart"></i>*@
                                    <!--<i class="fa-solid fa-magnifying-glass"></i>
                                    <span>Tìm Kiếm</span>
                                </a>
                            </div>-->
                            <!-- /Search -->
                            <!-- Wishlist -->
                            <div>
                                <a href="~/Favourites">
                                    <i class="fa-solid fa-heart"></i>
                                    <span>Yêu Thích</span>
                                    @if (Session["User"] != null)
                                    {
                                        @Html.Action("FavouritesSum", "Favourites")
                                    }
                                </a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div>
                                <a href="~/ShoppingCart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Giỏ Hàng</span>
                                    @Html.Action("CartSummary", "ShoppingCart")
                                </a>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <!--<nav id="navigation">-->
    <!-- container -->
    <!--<div class="container">-->
    <!-- responsive-nav -->
    <!--<div id="responsive-nav">-->
    <!-- NAV -->
    <!--<ul class="main-nav nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Hot Deals</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">Cameras</a></li>
        <li><a href="#">Accessories</a></li>
    </ul>-->
    <!-- /NAV -->
    <!--</div>-->
    <!-- /responsive-nav -->
    <!--</div>-->
    <!-- /container -->
    <!--</nav>-->
    <!-- /NAVIGATION -->
    <!-- BODY -->
    @RenderBody()
    <!-- /BODY -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa-solid fa-location-dot"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa-solid fa-envelope"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa-brands fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> LOR Store <i class="fa fa-heart-o" aria-hidden="true"></i>@*<a href="https://colorlib.com" target="_blank"></a>*@
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/Asset/js/jquery.min.js"></script>
    <script src="~/Asset/js/bootstrap.min.js"></script>
    <script src="~/Asset/js/slick.min.js"></script>
    <script src="~/Asset/js/nouislider.min.js"></script>
    <script src="~/Asset/js/jquery.zoom.min.js"></script>
    <script src="~/Asset/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
